<!DOCTYPE html>
<html>
  <head>
    <title>favStreet</title>
    <% if user_signed_in? %>
    <p>Welcome, <%= current_user.first_name %></p>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% end %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
